{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'Ecomex1/css/form.css'%}" type="text/css">
{% endblock css %}

{% block content %}

<div class="container-fluid">
	<div class="row justify-content-center">
		    <section class="contact spad">
                <div class="container">
                    <div class="row">
                        <div class="justify-content-center">
                           <div class="card" style=" box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  border-radius: 25px; text-align: center; background-image: url('{% static 'Ecomex1/img/categories/register.jpg' %}'); background-size: cover; height:590px; width:1170px;">
                               <div class="card-body">
                                   <section class="contact spad">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-lg-7 col-md-6">
                                                    </div>
                                                    <div class="col-lg-5 col-md-6">
                                                        <div class="contact__content">
                                                            <div class="contact__form" style=" margin-left: auto;margin-right: 0;">
                                                                <br>
                                                                 <form class="form-signin" method="post">{% csrf_token %}
                                                                    <div class="input-container ic2">
                                                                        <input id="email" name="email" class="input" type="email" placeholder=" " required autofocus />
                                                                        <div class="cut cut-short"></div>
                                                                          <label for="email" class="placeholder">Email</label>
                                                                    </div>
                                                                    <div class="input-container ic2">
                                                                        <input id="username" name="username" class="input" type="text" placeholder=" " required />
                                                                        <div class="cut"></div>
                                                                        <label for="username" class="placeholder">Username</label>
                                                                    </div>
                                                                    <div class="input-container ic2">
                                                                        <input id="password" name="password1" class="input" type="password" placeholder=" " required />
                                                                        <div class="cut"></div>
                                                                        <label for="password" class="placeholder">Password</label>
                                                                    </div>
                                                                    <div class="input-container ic2">
                                                                        <input id="repassword" name="password2" class="input" type="password" placeholder=" " required/>
                                                                        <div class="cut cut-med"></div>
                                                                        <label for="repassword" class="placeholder">Confirm</label>
                                                                    </div>
                                                                    <br>
                                                                     {% for field in registration_form %}
                                                                        <p>
                                                                        {% for error in field.errors %}
                                                                        <p style="color: red">{{ error }}</p>
                                                                        {% endfor %}
                                                                        </p>
                                                                        {% endfor %}
                                                                        {% if registration_form.non_field_errors %}
                                                                        <div style="color: red">
                                                                            <p>{{registration_form.non_field_errors}}</p>
                                                                        </div>

                                                                        {% endif %}
                                                                    <div class="float-right">
                                                                        <button type="submit" class="submit">submit</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                   </section>
                               </div>
                           </div>
                        </div>
                    </div>
                </div>
            </section>
    </div>
</div>







{% endblock content %}