aioredis
asgiref
async-timeout
attrs
autobahn
Automat
bleach
certifi
cffi
channels
channels-redis
chardet
constantly
cryptography
daphne
dj-database-url
Django
django-bootstrap-static
django-cropperjs
django-heroku
gunicorn
heroku
hiredis
hyperlink
idna==2.10
importlib-metadata
incremental
msgpack
numpy
opencv-python
optional-django
packaging
Pillow
prettytable
psycopg2
pyasn1
pyasn1-modules
pycparser
PyHamcrest
pyOpenSSL
pyparsing
python-dateutil
pytz
redis
requests
service-identity
six
sqlparse
today
Twisted
twisted-iocpsupport
txaio
typing_extensions
tzdata
urllib3
wcwidth
webencodings
whitenoise
zipp
zope.interface
